.contactfrom {
  background: rgba(238, 238, 238, 0.034) !important;
  border: 1px solid hotpink !important;
  border-radius: 5%;
  width: 95%;
  height: 500px;
}

.contactfrom input {
  background: rgb(235, 228, 228);
}
.cardheading {
  color: hotpink;
}
label {
  color: white;
  font-size: 15px;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  margin-left: 3px;
}
